<Header>
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-info">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      {{!-- <img src="https://bootstrapious.com/i/snippets/sn-nav-logo/logo.png" width="45" alt="" class="d-inline-block align-middle mr-2"> --}}
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold text-dark"><b>Admin Panel</b></span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav me-5">
        {{#if adminin}}
        <li class="nav-item active"><a href="#" class="nav-link text-dark">All Products<span class="sr-only"></span></a></li>
        <li class="nav-item"><a href="/admin//view-users" class="nav-link text-dark">All Users</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-dark">All Orders</a></li>
        <a href="/admin/logout" class="btn btn-dark">Logout</a>
        {{else}}
         <li class="nav-item active"><a href="#" class="nav-link"><span class="sr-only"></span></a></li>
        <li class="nav-item"><a href="/admin//view-users" class="nav-link"></a></li>
        <li class="nav-item"><a href="#" class="nav-link"></a></li>
        <a href="/admin" class="btn btn-dark">Login</a>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>
</Header>



